*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Youtube{
    display: flex;
    
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;

}
.left-header{
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: start;
}
.left-header img{
    padding-left: 10px;
}

.center-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.center-header input{
    border-radius: 40px 0 0 40px;
    border: 1px solid grey;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.fa-solid1{
    display: flex;
    justify-content: center;
    align-items: center;

}
#glass{
    display: flex;
    justify-content: center;
    align-items: center;
     border-radius: 0px 40px 40px 0px;
    border: 1px solid grey ;
    height: 30px;
    width: 50px;
}
.right-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 10px;

    align-items: center;
}
.right-header img{
    border-radius: 100%;
    height: 30px;
    width: 30px;

}
#video{
    margin-left:320px ;
}
.side_container{
    display: flex;
    align-items: center;
width: 100vw;
height: 100vh;
height: auto;
}
.side_menu{
    display: flex;
    margin: 0;
    width: 10%;
    height: 100vh;
    flex-direction: column;

}
.menus{
    flex-direction: column;
    display: flex;
    justify-content: center;
 align-items: center;
 margin-top: 50px;
}
.right_menu{
    height: auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
}
.right_menu .image01{

display: flex;
justify-content: space-around;
}
.right-menu .image01 .h6{
    font-weight: 400;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
    

}
p{
    font-size: small;
}


